Repository SEBROVATER/bbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, pyupgrade

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
  - repo: local
    hooks:
#      - id: isort
#        args: [ "--profile", "black", "--line-length", "100", "--filter-files" ]
#        name: isort
#        stages: [ commit ]
#        language: system
#        entry: pipenv run isort
#        types: [ python ]

      - id: black
        args: [ "--line-length", "100" ]
        name: black
        stages: [ commit ]
        language: system
        entry: pipenv run black
        types: [ python ]

      - id: flake8
        args: [ "--max-line-length", "100", "--ignore", "E203, E266, E501, W503, F401", "--max-complexity", "21"]
        name: flake8
        stages: [ commit ]
        language: system
        entry: pipenv run flake8
        types: [ python ]
        exclude: setup.py
      #
      #  - id: mypy
      #    name: mypy
      #    stages: [commit]
      #    language: system
      #    entry: pipenv run mypy
      #    types: [python]
      #    require_serial: true

      - id: pyupgrade
        name: pyupgrade
        stages: [ commit ]
        language: system
        entry: pipenv run pyupgrade
        types: [ python ]

arch 3.0
  bbox/__init__.py
  bbox/bbox_creator.py
  bbox/bbox_getter.py
  bbox/bbox_img.py
  bbox/bbox_utils.py
  bbox/cv_utils.py
  bbox/int_bbox.py
  bbox/sources/__init__.py
  bbox/sources/bbox_creator.py
  bbox/sources/bbox_editor.py
  bbox/sources/bbox_getter.py
  bbox/sources/bbox_img.py
  bbox/sources/float_bbox.py
  bbox/sources/int_bbox.py
  bbox/types.py
Due: black, flake8, pyupgrade

updated by pre-commit
  setup.py
Due: black, pyupgrade

removed dev packages
  .pre-commit-config.yaml
  Pipfile
  Pipfile.lock
Due: none

optimised imports
  bbox/__init__.py
  bbox/bbox_utils.py
  bbox/sources/bbox_creator.py
  bbox/sources/bbox_getter.py
  bbox/sources/bbox_img.py
  bbox/sources/float_bbox.py
  bbox/sources/int_bbox.py
Due: black, flake8, pyupgrade

optimised imports
  bbox/__init__.py
  bbox/bbox_utils.py
  bbox/sources/bbox_creator.py
  bbox/sources/bbox_editor.py
  bbox/sources/bbox_getter.py
  bbox/sources/bbox_img.py
  bbox/sources/float_bbox.py
  bbox/sources/int_bbox.py
Due: black, flake8, pyupgrade

removed needless
  .pre-commit-config.yaml
  Pipfile
  Pipfile.lock
  bbox/bbox_utils.py
  bbox/sources/bbox_editor.py
Due: black, flake8, pyupgrade

empty init
  bbox/__init__.py
Due: black, flake8, pyupgrade

revert IntBBox and FloatBBox
  bbox/__init__.py
Due: black, flake8, pyupgrade

revert IntBBox and FloatBBox without dots
  bbox/__init__.py
Due: black, flake8, pyupgrade

removed install requires from setup.py
  setup.py
Due: black, pyupgrade

another optimise of imports
  bbox/__init__.py
  bbox/sources/__init__.py
  setup.py
Due: black, flake8, pyupgrade

another optimise of imports
  bbox/bbox_utils.py
  bbox/sources/__init__.py
Due: black, flake8, pyupgrade

another optimise of imports
  bbox/__init__.py
Due: black, flake8, pyupgrade

another optimise of imports
  bbox/__init__.py
  bbox/bbox_utils.py
  bbox/sources/__init__.py
  bbox/sources/float_bbox.py
  bbox/sources/int_bbox.py
Due: black, flake8, pyupgrade

returned package field to setup.py
  bbox/__init__.py
  setup.py
Due: black, flake8, pyupgrade

fixed packages
  setup.py
Due: black, pyupgrade

accept in annotation BBoxKind or str
  bbox/sources/float_bbox.py
  bbox/sources/int_bbox.py
Due: black, flake8, pyupgrade

added mss-kind bbox
  bbox/sources/bbox_creator.py
  bbox/sources/bbox_getter.py
  bbox/types.py
Due: black, flake8, pyupgrade
